/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  /* сохраните в разметке и стилях класс page. На его основе работает скрипт. */
  font-family: var(--main-font-family);
  font-size: var(--main-text-size);
  padding: 10px;
  background-image: var(--background-image);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.header {
  position: relative;
  display: grid;
  grid-template-rows: repeat(3, 1fr);
}

.header__rec {
  position: absolute;
  display: flex;
  align-items: center;
  gap: 10px;
  line-height: 1.4;
  right: 10px;
}

.header__rec::before {
  content: "REC";
  color: var(--accent-color);
}

.header__rec::after {
  content: "";
  display: inline-block;
  width: 9px;
  height: 9px;
  background-color: var(--accent-color);
  border-radius: 50%;
  box-shadow: 0px 0px 4px 2px var(--accent-color);
}

.decorated-zone::before,
.decorated-zone::after {
  content: '';
  position: absolute;
  background-color: transparent;
  width: 25px;
  height: 25px;
}

.decorated-zone::before {
  border-top: 1px solid var(--accent-color);
  border-right: 1px solid var(--accent-color);
  right: 0px;
}

.decorated-zone::after {
  border-bottom: 1px solid var(--accent-color);
  border-left: 1px solid var(--accent-color);
  bottom: 0px;
}

.header__theme-menu {
  display: flex;
  justify-content: end;
  padding-top: 63px;
}

.header__theme-menu-list {
  gap: 11px;
  display: flex;
  flex-direction: column;
}

.header__theme-menu-button {
  background-color: transparent;
  color: var(--accent-color);
  border: 1px solid transparent;
  padding: 0 13px;
  cursor: pointer;
  text-transform: lowercase;
  line-height: 1;
  padding-top: 2px;
  padding-bottom: 4px;
}

.header__theme-menu-button_active {
  border: 1px solid var(--accent-color);
  color: var(--accent-color);
  pointer-events: none;
}

.header__theme-menu-button:focus-visible {
  border-bottom: 1px solid var(--accent-color);
  outline: none;
}

.header__theme-menu-button:hover {
  border: 1px solid var(--accent-color);
}

.header__sometext {
  margin-top: 43px;
  margin-bottom: 56px;
}

.header__title {
  color: #DB00FF;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  text-shadow: 4px 4px 0 var(--accent-color);
  line-height: 0.83;
  padding-top: 13px;
}

.header__title-decor {
  background-color: var(--accent-color);
  color: #000028;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.3;
  height: fit-content;
}

.info-block__title {
  color: var(--accent-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 1.3;
}

.info-block__title-decor {
  background-color: var(--accent-color);
  color: #000028;
  margin-top: 20px;
  line-height: 1.3;
}

.info-block__order {
  padding-top: 50px;
}

.info-block__float {
  padding-top: 50px;
}

.info-block .header__title-decor {
  margin-top: 20px;
}

.info-block-text {
  color: #F1B2CE;
  margin-top: 10px;
  line-height: 1.3;
}

.info-block__link {
  text-decoration: none;
  text-shadow: 2px 2px 0 var(--accent-color);
}

.info-block__link:hover {
  border-bottom: 1px solid #F1B2CE;
  text-underline-offset: 4px;
}

.info-block__link:focus-visible {
  border: 1px solid #F1B2CE;
  outline: none;
}

.gallery {
padding-top: 50px;
}

.gallery__picture {
  display: grid;
  gap: 10px;
  padding-top: 10px;
}

.gallery__item {
  box-sizing: border-box;
  margin: 0;
}

.gallery__image {
  max-width: 100%;
  min-height: 100%;
  object-fit: cover;
  display: block;
}

.footer {
  position: relative;
  margin-top: 40px;
}

.footer__title {
    color: #DB00FF;
    font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
    text-shadow: 2px 2px 0 var(--accent-color);
    line-height: 0.83;
    padding-top: 286px;
    padding-bottom: 286px;
    text-align: center;
}

.footer.decorated-zone::before {
  top:10px;
}

.footer.decorated-zone::after {
  bottom: 10px;
}

@media (768px <= width < 1024px) {
  .page {
    padding: 0px;
  }

  .decorated-zone::before {
    right: 20px;
    top: 20px;
  }

  .decorated-zone::after {
    left: 20px;
  }

  .header__rec {
    right: 30px;
    top: 20px;
  }

  .header__theme-menu {
    padding-top: 190px;
    padding-right: 20px;
    padding-left: 20px;
    justify-self: end;
  }

  .header__title {
    padding-top: 128px;
  }

  .header__sometext {
    width: 47.5%;
    justify-self: end;
    margin-right: 20px;
    align-self: center;
    margin-top: 54px;
    margin-bottom: 164px;
  }

  .info-block {
    padding-left: 20px;
    padding-right: 20px;
  }

  .info-block__float {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 20px;
    padding-top: 80px;
  }

  .info-block__float__title h3:first-child {
    margin: 0;
  }

  .info-block__order {
    padding-top: 80px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    column-gap: 20px;
  }

  .info-block__order__title:nth-child(2) {
    grid-column: 1 / 4;
  }

  .info-block__order__title:nth-child(3) {
  grid-column: 1 / 4;
 }

  .info-block__order__title:nth-child(4) {
  grid-column: 1 / 4;
  }

  .gallery {
    padding-right: 20px;
    padding-left: 20px;
  }

  .gallery .header__title-decor {
    margin-top: 30px;
  }

  .gallery__picture {
    gap: 20px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, min-content);
    padding-top: 20px;
  }

  .gallery__item:nth-child(1) {
    grid-column: 1/3;
    grid-row: 1;
  }

  .gallery__item:nth-child(2) {
    grid-column: 3;
    grid-row: 1/3;
  }

  .gallery__item:nth-child(3) {
    grid-column: 1;
    grid-row: 2/-1;
  }

  .gallery__item:nth-child(4) {
    grid-column: 2;
    grid-row: 2/3;
  }

  .gallery__item:nth-child(5) {
    grid-column: 2/-1;
    grid-row: 3;
  }

  .footer {
    margin-top: 60px;
  }

  .footer__title {
    padding: 462px 0;
  }

  .footer.decorated-zone::before {
    right: 20px;
    top: 20px;
  }

  .footer.decorated-zone::after {
    left: 20px;
    bottom: 20px;
  }
}

@media (width >= 1024px) {
  .page {
    padding: 0px;
  }

  .decorated-zone::before {
    right: 20px;
    top: 20px;
  }

  .decorated-zone::after {
    left: 20px;
  }

  .header__rec {
    right: 30px;
    top: 20px;
  }

  .header__theme-menu {
    padding-top: 20px;
    justify-content: center;
  }

  .header__theme-menu-list {
    flex-direction: row;
    gap: 9px;
  }

  .header__title {
    font-size: clamp(9.8125rem, 3.4421rem + 9.9537vw, 12.5rem);
    padding-top: 70px;
  }

  .header__sometext {
    width: 48%;
    justify-self: end;
    margin-right: 20px;
    align-self: center;
    margin-top: 65px;
    margin-bottom: 114px;
  }

  .info-block {
    padding-left: 20px;
    padding-right: 20px;
  }

  .info-block__float {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 10px;
    padding-top: 80px;
  }

  .info-block__float__title h3:first-child {
    margin: 0;
  }

  .info-block__order {
    padding-top: 80px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    column-gap: 20px;
  }

  .info-block__order__title:nth-child(2) {
    grid-column: 1;
  }

  .info-block__order__title:nth-child(3) {
    grid-column: 2;
 }

  .info-block__order__title:nth-child(4) {
    grid-column: 3;
  }

  .gallery {
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 80px;
  }

  .gallery__picture {
    gap: 20px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, min-content);
    padding-top: 20px;
  }

  .gallery__item:nth-child(1) {
    grid-column: 1/3;
    grid-row: 1;
  }

  .gallery__item:nth-child(2) {
    grid-column: 3;
    grid-row: 1/3;
  }

  .gallery__item:nth-child(3) {
    grid-column: 1;
    grid-row: 2/-1;
  }

  .gallery__item:nth-child(4) {
    grid-column: 2;
    grid-row: 2/3;
  }

  .gallery__item:nth-child(5) {
    grid-column: 2/-1;
    grid-row: 3;
  }

  .footer {
    margin-top: 60px;
  }

  .footer__title {
    font-size: clamp(9.8125rem, 3.4421rem + 9.9537vw, 12.5rem);
    padding: 319px 0;
  }

  .footer.decorated-zone::before {
    right: 20px;
    top: 20px;
  }

  .footer.decorated-zone::after {
    left: 20px;
    bottom: 20px;
  }
}
