/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/

:root {
  --accent-color: #FF0070;
  --accent-color-hover: rgba(255, 0, 112, .4);
  --common-text-color: #F1B2CE;
  --common-design-color: #FF0070;
  --title-color: #DB00FF;
  --secondary-header-color: #000028;
  --main-font-family: 'IBM Plex mono', sans-serif;
  --main-text-size: 18px;
  --background-image: url(../images/cover-image-dark.png);
  --background-color: #000028;
}
